<h2>パスワードの再設定</h2>
<%= form_with model: @user, url: user_password_path, local: true do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="actions">
    <%= f.submit " 入力されたメールアドレスにパスワード再設定メールを送信します", class:"btn btn-info mt-2" %>
  </div>
<% end %>
