<p>こんにちは <%= @resource.name %>さん!</p>

<p>パスワード変更のリクエストを受け付けました。<br>
以下のリンクからパスワードの変更ができます。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token), class:'btn btn-success' %></p>

<p>リクエストを行っていない場合、このメールは無視してください。</p>
<p>上のリンクより新しいパスワードが作成されるまで、パスワードは変更されません。</p>